{
   project =
   {
      description="🌱 A modern template engine for Objective C";
      domain="github";
      name="mulle-scion";
      user="MulleWeb";
      repo="mulle-scion";
      homepage="https://github.com/MulleWeb/mulle-scion";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="💍 MulleFoundation with improved compatibility and legacy support";
         domain="github";
         name="Foundation";
         repo="Foundation";
         url="https://github.com/MulleFoundation/Foundation";
         user="MulleFoundation";
      },
      {
         description="▶️  Startup code for the Foundation (mulle-objc)";
         domain="github";
         name="Foundation-startup";
         repo="Foundation-startup";
         url="https://github.com/MulleFoundation/Foundation-startup";
         user="MulleFoundation";
      },
      {
         description="💃🏼 Markdown support for mulle-objc";
         domain="github";
         name="MulleHoedown";
         repo="MulleHoedown";
         url="https://github.com/MulleWeb/MulleHoedown";
         user="MulleWeb";
      },
      {
         description="🤽🏻‍♂️ Web Server based on civetweb for mulle-objc";
         domain="github";
         name="MulleWebServer";
         repo="MulleWebServer";
         url="https://github.com/MulleWeb/MulleWebServer";
         user="MulleWeb";
      },
      {
         description="🌱 A modern template engine for Objective C";
         domain="github";
         name="MulleScion";
         repo="MulleScion";
         url="https://github.com/MulleWeb/MulleScion";
         user="MulleWeb";
      },
      {
         description="🤯 Bash like string expansion";
         domain="github";
         name="MulleBashStringExpansion";
         repo="MulleBashStringExpansion";
         url="https://github.com/MulleWeb/MulleBashStringExpansion";
         user="MulleWeb";
      }
   );
}
